devlog/
*.log

# -- Assets ---
textures/

# --- Build Artifacts ---
build/
bin/
obj/

# --- Visual Studio / MSVC Clutter ---
.vs/
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.opendb

# --- VS Code Settings ---
.vscode/ipch/
.vscode/browse.VC.db
.vscode/cmake-kits.json

# --- OS / Miscellaneous ---
.DS_Store
Thumbs.db
desktop.ini

# --- CMake Specific ---
CMakeSettings.json
CMakeUserPresets.json